@import url('https://fonts.googleapis.com/css?family=Lato');

.App {
  text-align: center;
}

.App-logo {
  height: 100px;
  height: 100px;
  pointer-events: none;
  position:relative;
  top: 0px;
  left: -50px;

}

.App-logo-shadow {
  height: 100px;
  height: 100px;
  filter: blur(5px) opacity(.5);
  pointer-events: none;
  position:relative;
  top: 15px;
  left: 50px;
}
.header-text {
  font-family: 'Lato', sans-serif;
  font-size: 40px;
  font-weight: 300;
  margin-top: 1.1rem;
  margin-bottom: 1.1rem;
}
.card-image {
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;

}
.card-spacer {
  height: 25px;
}
.about-image {
  height: 200px;
  width:auto;
  object-fit: contain;
}
.about-card {
  border: none;
}

.anim-card {
  width:202px;
  margin: 1rem;
}
.anim-card-body {
  padding: .5rem;
}
.anim-modal {
  width: 600px;
  height: 600px;
}



.jumbotron {
  margin: 0;
  padding: 30px;
  background-image: linear-gradient(to right, #d9f0ec, #4acccc, #0547d4);
  color: white;
}

.site-footer {
  background-image: linear-gradient(#4acccc, white);
  padding: 20px 0;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
  .App-logo-shadow {
    animation: App-logo-spin infinite 20s linear;
  }
}
.app-header {
  background-color: #eeeeee;
  margin-bottom: -1px;

}
.nav-container {
  background-color: #dddddd;
  height:fit-content;
  display: flex;
  
}
.nav-item {
  padding-left:30px;
  padding-right:30px;
  list-style-type: none;
}
.nav-icon {
  padding-right:5px;
}

.nav-class {
  background-color: #0e50cc !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
